
body{
    background-color: #3f3d56;
    text-align: center;
    margin-top: 100px;

    .home{
        padding-right: 300px;
        padding-bottom: 80px;
    }

    h1{
        margin-left: 30px;
        color: #218838;
    }
    
    
    .formContainer{

        form{
            color: white;
            margin-top: 20px;

            .form-control{
                margin-left: 30px;
            }
            .buttons{
                margin-left: 90px;
            }
            .col-sm-2{
                font-weight: bold;
            }
            .btn{
                margin: 30px;
            }
        }


        display: flex;
        justify-content: center;
    }
   
}