body {
    margin: 50px auto;
    min-width: 250px;
    max-width: 250px;
    background-color: #3f3d56;

    h1{
        margin: 50px 0;
        color: #218838;
    }

    form{
        color: white;

        .form-text{
            color: #218838 !important;
        }
    }
}